<ActionBar class="action-bar" title="グループ"></ActionBar>
<DockLayout>
  <Label dock="top" text="グループ１" class="text-center" height="44"></Label>
  <ScrollView dock="top" orientation="horizontal">
    <StackLayout orientation="horizontal">
      <Label text="ページ１" margin="3 5"></Label>
      <Label text="ページ２" margin="3 5"></Label>
      <Label text="ページ３" margin="3 5"></Label>
      <Label text="ページ４" margin="3 5"></Label>
      <Label text="ページ５" margin="3 5"></Label>
      <Label text="ページ６" margin="3 5"></Label>
      <Label text="ページ７" margin="3 5"></Label>
    </StackLayout>
  </ScrollView>
  <GridLayout dock="bottom" width="100%" height="47" columns="70%,70%,*,70%,70%" backgroundColor="#fdfdfd">
    <StackLayout col="0">
      <Image src="~/images/parts/icon-edit-member@2x.png" width="28" height="24" marginTop="5" marginBottom="2"></Image>
      <Label text="メンバー" class="text-center" fontSize="10"></Label>
    </StackLayout>
    <StackLayout col="1">
      <Image src="~/images/parts/icon-edit-page@2x.png" width="28" height="24" marginTop="5" marginBottom="2"></Image>
      <Label text="ページ" class="text-center" fontSize="10"></Label>
    </StackLayout>
    <StackLayout col="2">
      <Image src="~/images/parts/icon-addContents@2x.png" width="45" height="45"></Image>
    </StackLayout>
    <StackLayout col="3">
      <Image src="~/images/parts/icon-edit-design@2x.png" width="28" height="24" marginTop="5" marginBottom="2"></Image>
      <Label text="デザイン" class="text-center" fontSize="10"></Label>
    </StackLayout>
    <StackLayout col="4">
      <Image src="~/images/parts/icon-share@2x.png" width="28" height="24" marginTop="5" marginBottom="2"></Image>
      <Label text="共有" class="text-center" fontSize="10"></Label>
    </StackLayout>
  </GridLayout>
  <ScrollView>
    <StackLayout>
      <Label text="これは記事１" class="text-center" height="300" backgroundColor="white" marginBottom="10"></Label>
      <Label text="これは記事２" class="text-center" height="300" backgroundColor="white" marginBottom="10"></Label>
      <Label text="これは記事３" class="text-center" height="300" backgroundColor="white" marginBottom="10"></Label>
      <Label text="これは記事４" class="text-center" height="300" backgroundColor="white" marginBottom="10"></Label>
    </StackLayout>
  </ScrollView>
</DockLayout>
