<ActionBar class="action-bar" title="グループ作成"></ActionBar>

<StackLayout class="form">
  <Label class="label h3 text-center" text="グループを作成しよう"></Label>
  <Label class="label body text-center" text="無料で最大５グループまで作成できます。"></Label>
  <Label class="label body text-center" text="グループ名はいつでも変更することができます。"></Label>
  <StackLayout class="input-field">
    <TextField class="input" hint="グループ名を入力してください"></TextField>
  </StackLayout>
  <Button class="btn btn-primary btn-rounded-sm" text="次へ"></Button>

</StackLayout>