.avatar-large {
  width: 100;
  height: 100;
  border-radius: 50%;
  border-width: 1px;
  border-color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar-small {
  width: 30;
  height: 30;
  border-radius: 15;
}

.avatar-name {
  text-align: center;
}

.sideStackLayout Label {
  color: white;
}
