<ActionBar class="action-bar" title="ホーム">
</ActionBar>
<ActionBarExtension>
  <ActionItem (tap)="openDrawer()" text="Menu"></ActionItem>
</ActionBarExtension>

<RadSideDrawer tkExampleTitle tkToggleNavButton>
  <StackLayout tkDrawerContent class="sideStackLayout bg-primary">
    <ListView [items]="pages" row="1" class="list-group bg-primary">
      <template let-item="item" let-i="index">
        <StackLayout class="list-group-item bg-primary">
          <Label text="{{item.name}}" class="page-name" ></Label>
        </StackLayout>
      </template>
    </ListView>
  </StackLayout>
  <DockLayout tkMainContent>
    <Image dock="top" class="avatar-large" src="~/images/user.jpg" stretch="aspectFill" margin="30 0 10 0"></Image>
    <Label dock="top" class="avatar-name" text="{{user.name}}"></Label>
    <GridLayout dock="top" columns="*,auto" rows="auto" margin="20 0 0 10">
      <Label col="0" text="グループ一覧"></Label>
      <Button col="1" text="新規グループ追加" class="btn btn-primary btn-rounded-sm" [nsRouterLink]="['/group-add']"></Button>
    </GridLayout>
    <ListView [items]="groups" class="list-group" (itemTap)="goGroup($event)">
      <template let-group="item" let-i="index" let-odd="odd" let-even="even">
        <GridLayout columns="auto, *" rows="auto, *, *" padding="5 10">
          <Image src="~/images/parts/icon-group@2x.png" rowSpan="3" width="48" height="40" marginRight="10"></Image>
          <Label text="{{group.name}}" textWrap="true" col="1" minHeight="20" fontSize="16" margin="3"></Label>
          <StackLayout col="1" row="1" orientation="horizontal">
            <Image class="avatar-small" src="~/images/user.jpg" stretch="aspectFill" marginRight="5"></Image>
            <Image class="avatar-small" src="~/images/user.jpg" stretch="aspectFill" marginRight="5"></Image>
            <Image class="avatar-small" src="~/images/user.jpg" stretch="aspectFill" marginRight="5"></Image>
          </StackLayout>
          <Label text="最終更新日 {{group.updatedAt | date}}" col="1" row="2" class="text-right" fontSize="12"></Label>
        </GridLayout>
      </template>
    </ListView>
  </DockLayout>
</RadSideDrawer>